@font-face {
    
}


body {
    background-image: url("../img/UI.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: signikaregular;
}

h1,h2,h3,h4,h5,h6{
    font-family: signikabold;
    color: #f65c78;
}


