{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<div class="container col-xl-4 col-lg-6 col-md-8 offset-xl-4 offset-md-2 offset-lg-3">

    <h1 class="h3 mb-3 font-weight-normal">Main</h1> 

    <p>Acceso al <a href="/login">Login</a></p>
    <p>Acceso al <a href="/registro">Registro</a></p>
    

</div>

{% endblock %}